@import "tailwindcss";

@theme inline {
	/* font */
	--font-roboto: var(--font-roboto);
	/* color */
	--color-primary: #613de4;
	--color-primary-alt: #613de4;
	--color-primary-body: #111112;
	--color-success: #3bb266;
	--color-secondary-body: #3bb266;
	--color-white: #f2f4f7;
}

body {
	font-family: var(--font-roboto);
}
